<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.vsii.tsc.utility.Reports" />
	</listeners>
	<test name="Task Management" preserve-order="true">
		<classes>
			<class name="com.vsii.tsc.utility.TestBase" />
			<class name="com.vsii.tsc.guru.testcase.CreateTask" />
		</classes>
	</test>
<!-- 	<test name="WebService" preserve-order="true"> -->
<!-- 		<classes> -->
<!-- 			<class name="com.vsii.tsc.utility.TestBase" /> -->
<!-- 			<class name="com.vsii.tsc.guru.testcase.Webservice" > -->
<!-- 			<methods> -->
<!-- 				<include name="createERPProject" /> -->
<!-- 				<include name="W01" /> -->
<!-- 				<include name="W02" /> -->
<!-- 				<include name="W03" /> -->
<!-- 				<include name="W04" /> -->
<!-- 				<include name="W05" /> -->
<!-- 				<include name="W06" /> -->
<!-- 				<include name="W07" /> -->
<!-- 			</methods> -->
<!-- 			</class> -->
<!-- 		</classes> -->
<!-- 	</test> -->
	
	<test name="Project Management" preserve-order="true">
		<classes>
			<class name="com.vsii.tsc.utility.TestBase" />
			<class name="com.vsii.tsc.guru.testcase.CreateNewProject" >
			<methods>
<!-- 				<include name="PM04" /> -->
<!-- 				<include name="PM05" /> -->
<!-- 				<include name="PM06" /> -->
<!-- 				<include name="PM07" /> -->
<!-- 				<include name="PM08" /> -->
<!-- 				<include name="PM09" /> -->
<!-- 				<include name="PM012" /> -->
<!-- 				<include name="PM13" /> -->
<!-- 				<include name="PM15" /> -->
<!-- 				<include name="PM16" /> -->
<!-- 				<include name="PM17" /> -->
<!-- 				<include name="PM18" /> -->
<!-- 				<include name="PM19" /> -->
<!-- 				<include name="PM20" /> -->
<!-- 				<include name="PM21" /> -->
<!-- 				<include name="PM22" /> -->
<!-- 				<include name="PM23" /> -->
<!-- 				<include name="PM24" /> -->
<!-- 				<include name="PM25" /> -->
<!-- 				<include name="PM26" /> -->
<!-- 				<include name="PM27" /> -->
<!-- 				<include name="PM28" /> -->
<!-- 				<include name="PM29" /> -->
<!-- 				<include name="PM30" /> -->
<!-- 				<include name="PM31" /> -->
<!-- 				<include name="PM32" /> -->
			</methods>
			</class>
		</classes>
	</test>
<test name="IMSM" preserve-order="true">
		<classes>
			<class name="com.vsii.tsc.utility.TestBase" />
			<class name="com.vsii.tsc.guru.testcase.ISMS_ComposeISMS" >
			<methods>
<!-- 		 <include name="TC04" /> -->
<!--         <include name="TC05" /> -->
<!--         <include name="TC06" /> -->
<!--         <include name="TC38" /> -->
<!--         <include name="TC39" /> -->
<!--         <include name="TC40" /> -->
<!--         <include name="TC41" /> -->
<!--         <include name="TC42" /> -->
<!--           <include name="TC43" /> -->
			</methods>
			</class>
		</classes>
	</test>
	<test name="IMSM" preserve-order="true">
		<classes>
			<class name="com.vsii.tsc.utility.TestBase" />
			<class name="com.vsii.tsc.guru.testcase.ISMS_Home" >
			<methods>
<!-- 		<include name="TC01" /> -->
<!--         <include name="TC02" /> -->
<!--         <include name="TC03" /> -->
			</methods>
			</class>
		</classes>
	</test>
	<test name="IMSM" preserve-order="true">
		<classes>
			<class name="com.vsii.tsc.utility.TestBase" />
			<class name="com.vsii.tsc.guru.testcase.ISMS_Project" >
			<methods>
 <!-- 		 <include name="TC07" /> -->
<!--         <include name="TC08" /> -->
<!--         <include name="TC09" /> -->
<!--         <include name="TC10" /> -->
<!--         <include name="TC11" /> -->
<!--         <include name="TC12" /> -->
<!--         <include name="TC13" /> -->
<!--         <include name="TC15" /> -->
<!--         <include name="TC16" /> -->
<!--         <include name="TC17" /> -->
<!--         <include name="TC18" /> -->
<!--         <include name="TC19" /> -->
<!--         <include name="TC20" /> -->
<!--         <include name="TC21" /> -->
<!--         <include name="TC22" /> -->
<!--         <include name="TC23" /> -->
<!--         <include name="TC27" /> -->
<!--         <include name="TC28" />  -->
<!--         <include name="TC29" /> -->
<!--         <include name="TC30" /> -->
<!--         <include name="TC31" /> -->
<!--         <include name="TC32" /> -->
<!--         <include name="TC33" /> -->
<!--         <include name="TC34" /> -->
<!--         <include name="TC35" /> -->
<!--           <include name="TC36" /> -->
			</methods>
			</class>
		</classes>
	</test>
<!-- 	<test name="Project Management" preserve-order="true"> -->
<!-- 	<classes> -->
<!-- 	<class name="com.vsii.tsc.utility.TestBase" /> -->
<!-- 	<class name="com.vsii.tsc.guru.testcase.CreateNewProject" /> -->
	
<!-- 	</classes> -->
<!-- 	</test> -->

	<!-- <test name="Skill management" preserve-order="true"> -->
	<!-- <classes> -->
	<!-- <class name="com.vsii.tsc.guru.testcase.SkillsManagement"/> -->
	<!-- </classes> -->
	<!-- </test> -->

	<!-- <test name="Timesheet management" preserve-order="true"> -->
	<!-- <classes> -->
	<!-- <class name="com.vsii.tsc.guru.testcase.TS_Timesheet" /> -->
	<!-- </classes> -->
	<!-- </test> -->
</suite> 
